:host {
  background-color: var(--vscode-quickInput-background);
  border: 1px solid var(--vscode-widget-border);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  min-width: 200px;
  max-width: 600px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: none;

  max-height: 200px;
  overflow-y: auto;
}

li {
  padding: 4px 12px;
  cursor: pointer;
  color: var(--vscode-quickInputList-foreground);
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-weight: 600;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}

li:focus {
  color: var(--vscode-quickInputList-focusForeground);
  background-color: var(--vscode-quickInputList-focusBackground);
  outline: none;
}

.label {
  white-space: nowrap;
  flex: 0;
}

.description {
  flex: 1;
  font-size: 0.9em;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
