.circle {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  color: lightgray;
  display: inline-block;
}

.none {
  background-color: #5cb85c;
}

.low {
  background-color: yellow;
}

.medium {
  background-color: orange;
}

.high {
  background-color: red;
}

.critical {
  background-color: darkred;
}

.information {
  background-color: #007cc3;
}


