@if (dataState() === DataState.Error) {
  <div class="error">{{ errorMessage() }}</div>
} @else {
  <table class="findings-table">
    <tr>
      <th class="text-center">Risk</th>
      <th>Location</th>
      <th>Description</th>
      <th class="text-center">Status</th>
    </tr>
    @for (finding of findings(); track finding.id) {
      <tr sigridFindingNavigator [locations]="finding.fileLocations">
        <td class="text-center"><sigrid-severity-icon [severity]="finding.severity" /></td>
        <td><span [title]="finding.filePath"> {{ finding.displayFilePath }} </span></td>
        <td class="external-link-container">
          <div>{{ finding.type }}</div>
          <sigrid-external-link [href]="finding.href" />
        </td>
        <td class="text-center">{{ finding.status }}</td>
      </tr>
    }
  </table>
}
