@if (dataState() === DataState.Error) {
  <div class="error">{{ errorMessage() }}</div>
} @else {
  <table class="findings-table">
    <thead>
      <tr>
        <th class="checkbox-column">
          @if (selectionService.selectedCount() > 0) {
            <button class="deselect-all" (click)="selectionService.clear()">Deselect</button>
          }
        </th>
        <th class="text-center">Risk</th>
        <th>Location</th>
        <th>Description</th>
        <th class="text-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (finding of findings(); track finding.id) {
        <tr sigridFindingNavigator [locations]="finding.fileLocations" tabindex="-1"
            [class.selected]="finding.id === selectedId" (click)="setSelectedId(finding.id)">
          <td class="checkbox-column" (click)="$event.stopPropagation()">
            <input type="checkbox" [checked]="selectionService.isSelected(finding.id)" (change)="toggleSelection(finding)" />
          </td>
          <td class="text-center"><sigrid-severity-icon [severity]="finding.severity" /></td>
          <td><span [title]="finding.filePath"> {{ finding.displayFilePath }} </span></td>
          <td>{{ finding.type }}</td>
          <td class="status">
            {{FindingStatusEmoji[finding.status]}} {{ finding.statusLabel }}
          </td>
          <td>
            <div class="action-buttons">
              <sigrid-icon-button iconClass="codicon codicon-edit"
                                  ngxTooltip="Edit Finding"
                                  tooltipClass="sigrid-tooltip"
                                  [tooltipArrow]="false"
                                  tooltipPosition="bottom"
                                  (onClick)="onStatusClick(finding)"
              />
              <sigrid-external-link [href]="finding.href" />
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
