html, body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.findings-table {
  &, td, th {
    border: 1px solid var(--vscode-panelSection-border);
    border-collapse: collapse;
  }

  td, th {
    padding: 0.25rem 0.5rem;
  }

  th {
    text-align: left;
  }
}
