form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.form-submit-row {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

label {
  font-size: 0.9em;
}

h2 {
  margin-block-start: 0;
}
