:host {
  position: relative;
  display: block;
}

.popup-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px;
  min-width: 320px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  background-color: var(--vscode-panel-background);
  border: 1px solid var(--vscode-widget-border);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
}
