@if (this.isConfigValid()) {
  <div class="sigrid-header">
    <div class="sigrid-tabs-container">
      <div class="sigrid-tabs">
        <div class="sigrid-tab" routerLink="/maintainability" routerLinkActive="active">
          <div class="tab-label-wrapper"><span class="tab-label">Maintainability</span></div>
        </div>
        <div class="sigrid-tab" routerLink="/security" routerLinkActive="active">
          <div class="tab-label-wrapper"><span class="tab-label">Security</span></div>
        </div>
        <div class="sigrid-tab" routerLink="/open-source-health" routerLinkActive="active">
          <div class="tab-label-wrapper"><span class="tab-label">Open Source Health</span></div>
        </div>
      </div>
      <div class="header-action-buttons">
        <sigrid-icon-button iconClass="codicon codicon-refresh" ngxTooltip="Refresh" [tooltipArrow]="false" tooltipClass="sigrid-tooltip" [disabled]="refreshButtonDisabled()" (onClick)="refresh()"/>
      </div>
    </div>
    <div class="file-filter">
      <sigrid-select-button [options]="fileFilterOptions" (change)="onFileFilterChange($event)"></sigrid-select-button>
      @let filteredFileName = this.displayActivePath();
      @if (filteredFileName) {
        <span class="file-name" [title]="activeFilePath()">{{ filteredFileName }}</span>
      }
    </div>
  </div>

  <div class="main">
    <router-outlet/>
  </div>
} @else {
  <div class="main">
    <p>The extension is not configured.<br/>Please configure Sigrid API key, Customer and System in the settings.</p>
  </div>
}
