name: unittests
on: [push]
jobs:
  unittests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4
      - run: "cd sigrid-ext-app && npm install && npm test --coverage"
